@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

@theme {
  --color-zeta-main: #2E1F93;
  --color-zeta-sub: #D3D648;
  --color-zeta-main-lighter: #E8E7F4;
  --color-zeta-sub-lighter: #FDFF8D;
  --color-zeta-sub-dark: #5E6B00;
}