@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

@theme {
  --font-sans: 'Poppins', 'Google Sans', sans-serif;
  --font-poppins: 'Poppins', 'Google Sans', sans-serif;

  --color-zeta-main: #2E1F93;
  --color-zeta-sub: #D3D648;
  --color-zeta-main-lighter: #E8E7F4;
  --color-zeta-sub-lighter: #FDFF8D;
  --color-zeta-sub-dark: #5E6B00;

  --color-zeta-muted: #9ca3af; 
}

body {
  font-family: 'Poppins', 'Google Sans', sans-serif;
}

.product-card-description {
  display: -webkit-box !important;
  max-height: 4.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3 !important;
}
